<!DOCTYPE HTML>

<html>

<head>
	<title>Directorate of Open and Distance Learning Dibrugarh University</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="Directorate of Open and Distance Learning Dibrugarh University" />
	<meta name="keywords" content="Distance Learning Dibrugarh University" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<a class="logo" href="https://dibru.ac.in/" target="_blank">
			<img src="logoUniversityWhite.png" alt="Dibrugarh University" id="unilogo">
			</a>
    
             <!-- Sticky Navbar -->
            <nav id="navbar1">				
				<a href="index.html">Home</a>
                <a href="AboutUs.html">About Us</a> 
				
				<div class="dropdown">
					
					<button class="dropbtn"><a href="index.html"style="padding: 0;">Notification</a>
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					 <li> <a href="index.html">General</a></li>
					 <li> <a href="index.html">Examination</a></li>
					 <li> <a href="index.html">Admission</a></li>
					 
					</div>
				  </div> 
                
				<div class="dropdown">
					
					<button class="dropbtn"><a href="programmes.html" style="padding: 0;">Programmes</a>
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					 <li> <a href="programmes.html">M.A.</a></li>
					 
					 <li> <a href="programmes.html">M.A./M.Sc. Mathematics</a></li>
					 <li> <a href="programmes.html">B.A.(General)</a></li>
					 <li> <a href="programmes.html">B.A.(Honours)</a></li>
					 <li> <a href="programmes.html">B.Com.</a></li>
					 <li> <a href="programmes.html">M.Com.</a></li>
					 <li> <a href="programmes.html">BCA</a></li>
					</div>
				  </div> 
				<div class="dropdown">
					
					<button class="dropbtn"><a href="administration.html"style="padding: 0;">Administration</a>
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					 <li> <a href="administration.html">Administration</a></li>
					 <li> <a href="administration.html">Academic</a></li>
					 <li> <a href="administration.html">Finance</a></li>
					 <li> <a href="administration.html">Examination</a></li>
					 <li> <a href="administration.html">SLM Section</a></li>
					 <li> <a href="administration.html">Library</a></li>
					 <li> <a href="administration.html">Media Research</a></li>
					
					</div>
				  </div> 
                <div class="dropdown">
					
					<button class="dropbtn"><a href="#"style="padding: 0;">UGC</a>
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						</a>
						<li> <a href="recognition.html">Recognition</a></li>
						<li> <a href="pdf/UG PPR All_compressed.pdf">PPR UG</a></li>
						<li> <a href="pdf/PG PPR All_compressed.pdf">PPR PG</a></li>
						<li> <a href="pdf/LSCs.pdf">LSC's</a></li>
						<li> <a href="#">Exam Centers</a></li>
						<li> <a href="#">CIQA</a></li>
					</div>
				  </div> 
                <a href="ContactUs.html">Contact Us</a>

            </nav>
        
	</header>

	<!-- Banner -->
	<section id="banner1">
		<div class="inner1">
			<h1>Directorate of Open and Distance Learning </h1>
        </div>
		
	</section>

	<!-- Highlights -->
	<section class="wrapper">

		<div class="inner">
			<header class="special">
				<h2 id="about-us">About Us</h2>
				<p><strong>The Directorate of Open and Distance Learning(DODL)</strong>, Dibrugarh University was established in 2001
					with a vision to reach the unreached. During the last three decades, it was observed that most of
					the Department and the Centres of studies of the University received a large number of applications
					for admission into different programmes offered. Due to limited number of seats in post-graduate and
					under-graduate classes, a large number of students fail to enroll themselves as students of the
					University. Considering the necessity of enabling the youths who are either employed or
					self-employed and who are unable to prosecute higher education due to economic or other reasons, the
					University has set the vision of taking Higher Education to the doorsteps of the learners.</p>

				<p id="SpaceLage">The major Objectives of the Directorate are:</p>
				
				<center>
				<div id="objectives">
					
					<ol>
						<li>To provide access to quality higher education to the people of the region who are deprived of
							higher education due to various reasons.</li>
						<li>To provide higher education to those who wish to upgrade or acquire knowledge through studies in
							various field.</li>
						<li>To develop knowledge and skills in different areas which are hitherto covered by formal
							education system existing in the North-East Region.
						</li>
						<li>To promote research in different fields.</li>
						<li>To provide guidance and counseling to its students.</li>
					</ol>

					
				
				</div>
			</center>


			</header>
			


				
					
				
		
			</div>
		</div>
	</section>

	<!-- CTA -->


	<!-- Testimonials -->
	
	<section class="wrapper" id="valued-testimony">
		<div class="inner">
			<header class="special">
				<h2>Valued Testimonies</h2>
				
			</header>
			<div class="testimonials">
				<section>
					<div class="content">
						<blockquote>
							<p>
								Established in 2001, with a vision to reach the unreached, the DODL has come a long way in
								 expanding its access to Higher Education towards the general populace.
							</p>
							<p>
								While offering various Undergraduate and Postgraduate Programmes, DODL is at the forefront
								 in developing broader methods of communication, and closing the gap in transactional distance
							</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="images/Vice Chancellor_in_Charge_Prof_ L_K Nath.jpg" alt="VC Sir" />
							</div>
							<p class="credit">- <strong>Dr L.K.Nath</strong> <span>Vice Chancellor , DU</span></p>
						</div>
					</div>
				</section>
				<section>
					<div class="content">
						<blockquote>
							<p>Some quote from registrar sir</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="images/Registrar in charge_Prof Jiten Hazarika.jpg" alt="register i/c" />
							</div>
							<p class="credit">- <strong>Jiten Hazarika</strong> <span>Registrar , DU</span></p>
						</div>
					</div>
				</section>
				<section>
					<div class="content">
						<blockquote>
							<p>Some quote from Director Sir.</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="images/pic03.jpg" alt="" />
							</div>
							<p class="credit">- <strong>Prof. Deb Kumar Chakraborty</strong> <span> Director , DODL ,DU</span></p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
   
	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<h3>Footer</h3>
					<p>
						something to put in footer
					</p>
				</section>
				<section>
					<h4>Other Important Links</h4>
					<ul class="alt">
						<li><a href="https://www.ugc.ac.in/deb/">UGC-DEB</a></li>
						<li><a href=" https://swayam.gov.in/"> Swayam</a></li>
						<li><a href="https://www.education.gov.in/hi"> Ministry of Education</a></li>
						<li><a href="https://ndl.iitkgp.ac.in/">National Digital Library of India</a></li>
					</ul>
				</section>
				<section>
					<h4>Social Media Handles</h4>
					<ul class="plain">
						<!-- <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li> -->
						<li><a href="https://www.facebook.com/ddelibrary"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
						<!-- <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
						<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li> -->
					</ul>
				</section>
			</div>
			<div class="copyright">
				&copy; All Right Reserved 2021,<a href="https://dibru.ac.in/" target="_blank"> Dibrugarh University </a>
					
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <!-- <script src="assets/js/navfunc.js"></script> -->

</body>

</html>