<!DOCTYPE HTML>

<html>

<head>
	<title>Directorate of Open and Distance Learning Dibrugarh University</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="Directorate of Open and Distance Learning Dibrugarh University" />
	<meta name="keywords" content="Distance Learning Dibrugarh University" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<a class="logo" href="https://dibru.ac.in/" target="_blank">
			<img src="logoUniversityWhite.png" alt="Dibrugarh University" id="unilogo">
			</a>
    
             <!-- Sticky Navbar -->
            <nav id="navbar1">				
				<a href="index.html">Home</a>
                <a href="AboutUs.html">About Us</a> 
				
				<div class="dropdown">
					
					<button class="dropbtn"><a href="index.html"style="padding: 0;">Notification</a>
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					 <li> <a href="index.html">General</a></li>
					 <li> <a href="index.html">Examination</a></li>
					 <li> <a href="index.html">Admission</a></li>
					 
					</div>
				  </div> 
                
				<div class="dropdown">
					
					<button class="dropbtn"><a href="programmes.html" style="padding: 0;">Programmes</a>
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					 <li> <a href="programmes.html">M.A.</a></li>
					 
					 <li> <a href="programmes.html">M.A./M.Sc. Mathematics</a></li>
					 <li> <a href="programmes.html">B.A.(General)</a></li>
					 <li> <a href="programmes.html">B.A.(Honours)</a></li>
					 <li> <a href="programmes.html">B.Com.</a></li>
					 <li> <a href="programmes.html">M.Com.</a></li>
					 <li> <a href="programmes.html">BCA</a></li>
					</div>
				  </div> 
				<div class="dropdown">
					
					<button class="dropbtn"><a href="administration.html"style="padding: 0;">Administration</a>
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					 <li> <a href="administration.html">Administration</a></li>
					 <li> <a href="administration.html">Academic</a></li>
					 <li> <a href="administration.html">Finance</a></li>
					 <li> <a href="administration.html">Examination</a></li>
					 <li> <a href="administration.html">SLM Section</a></li>
					 <li> <a href="administration.html">Library</a></li>
					 <li> <a href="administration.html">Media Research</a></li>
					
					</div>
				  </div> 
                <div class="dropdown">
					
					<button class="dropbtn"><a href="#"style="padding: 0;">UGC</a>
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						</a>
						<li> <a href="recognition.html">Recognition</a></li>
						<li> <a href="pdf/UG PPR All_compressed.pdf">PPR UG</a></li>
						<li> <a href="pdf/PG PPR All_compressed.pdf">PPR PG</a></li>
						<li> <a href="pdf/LSCs.pdf">LSC's</a></li>
						<li> <a href="#">Exam Centers</a></li>
						<li> <a href="#">CIQA</a></li>
					</div>
				  </div> 
                <a href="ContactUs.html">Contact Us</a>

            </nav>
        
	</header>

	<!-- Banner -->
	<section id="banner1">
		<div class="inner1">
			<h1>Directorate of Open and Distance Learning </h1>
        </div>
		
	</section>

	<!-- Highlights -->
	<section class="wrapper">

	</section>

	<!-- CTA -->


	<!-- Testimonials -->
	<h2 style="text-align: center; padding-bottom: 15px;">Administration</h2>


	
	
	<!-- Administration table -->
	<section id="admi-table">
		<table>
			<tr>
			  <th>Administration</th>
			  <th>Academic</th>
			  <th>Finance</th>
			  <th>Examination</th>
			  <th>SLM Section</th>
			  <th>Library</th>
			  <th>Media Research</th>
			</tr>
			<tr>
			  <td>Ms. Boni Gogoi
				  (Office Assistant)
			  </td>
			  <td>Dr.Mithun Jagadish Sharma
				  (Asstt. Director)
			  </td>
			  <td>Mr.Amulya Gogoi
				  (Asstt.Registrar)
			  </td>
			  <td>Mr.Tinu Ram Das(LDA)</td>
			  <td>Mr.Anjan Chetia(LDA)</td>
			  <td>Mr.Debojit Borgohain
				  (Asstt.Librarian)
			  </td>
			  <td>Mr.Himsekhar Borthakur
				  (RMSS Assistant)
			  </td>
			</tr>
			<tr>
			  <td>Mr.Amrit Thakuria
				  (Office Assistant)
			  </td>
			  <td>Faculty of Assamese-Ms D.S Tamuli
				  (Asstt. Professor)
			  </td>
			  <td>Mr.Rajen B.Baruah
				  (Office Assistant)
			  </td>
			  <td>Mr.Mridu P.Patowary
				  (Office Assistant)
			  </td>
			  <td>Mr.Dhanmoni Thakuria(Repository Production Asstt.)</td>
			  <td>Ms.Sumi Gogoi(Library Attendant)</td>
			  <td></td>
			</tr>
			<tr>
			  <td>Mr.Moon Rajkhowa
				  (Peon)
			  </td>
			  <td>Faculty of Commerce-Ms Jasprit Kaur(Asstt. Professor)</td>
			  <td>Dr.Kailash Borgohain(Office Assistant)</td>
			  <td>Mr.Tipu R.Dutta(Office Assistant)</td>
			  <td>Mr.Karan Gogoi(Office Helper)</td>
			  
			  <td></td>
			</tr>
			<tr>
			  <td>Mr.Prahlad Nayak(Peon)</td>
			  <td>Faculty of Computer Science-Dr.Moromi Gogoi(Asstt.Professor)</td>
			  <td>Mr.Subham Das
				  (Office Helper)
			  </td>
			  <td>Mr.Gunin Borgohain(Office Helper)</td>
			  <td>Mr.Kumud Gogoi(Office Helper</td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Ms.Boby Dome(Cleaner)</td>
			  <td>Faculty of Economics-Dr.Bitopi Nath(Asstt.Professor)</td>
			  <td></td>
			  <td>Mr.Dipankar Khanikar(Office Helper)</td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Mr.Rama Dome(Cleaner)</td>
			  <td>Faculty of Education-Dr.Shruti Dhara Mahanta(Asstt.Professor)</td>
			  <td></td>
			  <td>Mr.Sukumar Rai(Peon)</td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
				<td></td>
				<td>Faculty of English-Ms.Kevi Tepa(Asstt.Professor)</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Faculty of Mathematics-Dr.Nisha Gohain(Asstt.Professor)</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Faculty of Pol.Sc- Ms Pooja Dihingia(Asstt.Professor)</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Faculty of Sociology-Ms.Purabi Baruah(Asstt.Professor)</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>
					Faculty of JMC-
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Faculty of MM-</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	
	</section>
	
   
	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<h3>Footer</h3>
					<p>
						something to put in footer
					</p>
				</section>
				<section>
					<h4>Other Important Links</h4>
					<ul class="alt">
						<li><a href="https://www.ugc.ac.in/deb/">UGC-DEB</a></li>
						<li><a href=" https://swayam.gov.in/"> Swayam</a></li>
						<li><a href="https://www.education.gov.in/hi"> Ministry of Education</a></li>
						<li><a href="https://ndl.iitkgp.ac.in/">National Digital Library of India</a></li>
					</ul>
				</section>
				<section>
					<h4>Social Media Handles</h4>
					<ul class="plain">
						<!-- <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li> -->
						<li><a href="https://www.facebook.com/ddelibrary"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
						<!-- <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
						<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li> -->
					</ul>
				</section>
			</div>
			<div class="copyright">
				&copy; All Right Reserved 2021,<a href="https://dibru.ac.in/" target="_blank"> Dibrugarh University </a>
					
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <!-- <script src="assets/js/navfunc.js"></script> -->

</body>

</html>